<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1001252183616-m62jc2f83icc4q6qm9kino54c133tarv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1001252183616-m62jc2f83icc4q6qm9kino54c133tarv</string>
	<key>API_KEY</key>
	<string>AIzaSyBzCOXL3iLlhMtP-TK9LzSlQ1KXCOxO8ik</string>
	<key>GCM_SENDER_ID</key>
	<string>1001252183616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>udacity.iTodo</string>
	<key>PROJECT_ID</key>
	<string>itodo-61314</string>
	<key>STORAGE_BUCKET</key>
	<string>itodo-61314.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001252183616:ios:ab4ab33fc268d4513389a5</string>
</dict>
</plist>